@{
    ViewData["Title"] = "Cronograma";
}

<div class="text-center">
    <h1 class="display-4">Cronograma</h1>
    <p>Monitore aqui suas atividades semanais</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Segunda-feira</th>
                <th scope="col">Terça-feira</th>
                <th scope="col">Quarta-feira</th>
                <th scope="col">Quinta-feira</th>
                <th scope="col">Sexta-feira</th>
                <th scope="col">Sábado</th>
                <th scope="col">Domingo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>John</td>
                <td>Doe</td>
                <td>social</td>
            </tr>
        </tbody>
    </table>
</div>
